@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav_contanier {
    background-color: #363434;
    height: 57px;
  }


.active {
  color: rgb(255, 0, 0);
}

.welcome_msg {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 40px
}

.ts_table_add {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-top: 20px;
}

.ts_head .ts_col_add {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.ts_head_add {
  background-color: #8fbdf1;
  color: black;
  font-family: 'Times New Roman';
  font-size: 18px;
}

th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
  background-color: #f5d4ca;
}

.add_button {
    text-align: center;
    margin-bottom: 20px;
}

.button_style {
    border-radius: 5px;
    border-width: 0px;
    background-color: #0751f3;
    color: white;
    padding: 5px 10px 5px 10px;
}

.success_msg {
  color: rgb(0, 247, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}

.failure_msg {
  color: rgb(247, 0, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}

.validation_error {
  color: red;
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}











