@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

ul {
  list-style-type: none;
  color: rgb(230, 200, 200);
  font-family: Georgia, "Times New Roman", Times, serif;
}

i {
  padding-right: 10px;
  padding-bottom: 30px;
  color: rgb(173, 166, 166);
}

.active {
  color: rgb(255, 0, 0);
}

.welcome_msg {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 40px
}

.ts_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 40px;
}

.ts_head .ts_col {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color: rgb(167, 162, 162);
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
}

.add_button {
    text-align: center;
    margin-bottom: 20px;
}

.button_style {
    border-radius: 5px;
    border-width: 0px;
    background-color: #0751f3;
    color: white;
    padding: 5px 10px 5px 10px;
}

.success_msg {
  color: rgb(0, 247, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}

.failure_msg {
  color: rgb(247, 0, 0);
  font-family: Georgia;
  margin: 20px 0px 0px 40px
}