
.active {
    color: blue;
}

.style_link {
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: grey;
    text-decoration: none;
}


@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top_bar {
  background-image: linear-gradient(#333C83, #F24A72,#FF5F00);
  height: 26vh;
}

.top_bar_medium {
  background-image: linear-gradient(#333C83, #F24A72,#FF5F00);
}

.cmp_name {
    color: black;
    font-family: "Georgia";
    font-size: 34px;
    font-weight: 600;
    padding: 20px 0px 0px 30px;
  }

  .cmp_name_med {
    color: black;
    font-family: "Georgia";
    font-size: 34px;
    font-weight: 600;
    padding: 20px 0px 0px 30px;
    text-align: center;
  }
  
  .cmp_detail {
    color: #362d29;
    font-family: "googleapis";
    font-size: 24px;
    font-weight: 600;
    padding-left: 30px;
  }
  
  .top_bar_data {
    width: 50vw;
  }
  
  .top_bar_quote {
    padding-left: 30px;
    padding-top: 10px;
    font-family: "Georgia";
    font-size: 18px;
    
  }
  
  .top_bar_image {
    height: 140px;
    width: 180px;
    border-radius: 25px;
    padding-top: 7px;
    margin-left: 15vw;
  }

  .nav_contanier {
    background-color: #363434;
    height: 57px;
  }