<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div style="text-align: center;">
    <h1>
      Routing and Navigation
    </h1>
</div>
<nav>
  <a routerLink="/departments" routerLinkActive="active" class="style_link">Departments</a>
  <a routerLink="/employees" routerLinkActive="active" class="style_link">Employees</a>
</nav> -->



<!-- TopBar -->
<div class="top_bar_fix">
  <div class="top_bar d-none d-lg-block">
    <div class="d-flex flex-row">
      <div class="top_bar_data">
        <h1 class="cmp_name d-none d-lg-block">Welcome To My Library</h1>
        <p class="top_bar_quote d-none d-lg-block">
          Whenever you read a good book, somewhere in the world a door opens to
          allow in more light.
        </p>
      </div>
      <div class="top_bar_image d-none d-lg-block">
        <img
          alt=""
          src="https://images.unsplash.com/photo-1548048026-5a1a941d93d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGlicmFyaWVzfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
          class="top_bar_image"
        />
      </div>
    </div>
  </div>
  <div class="top_bar_medium d-block d-lg-none">
    <h1 class="cmp_name_med p-4 mb-0">Welcome To My Library</h1>
  </div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
