<!--NavBar-->
<div class="nav_contanier">
    <div class="d-flex flex-row justify-content-left">
      <p class="pt-3 ml-5">
        <a routerLink="" >
          <i class="fas fa-book" ></i>
          <span class=""> Books Available </span>
          </a>
      </p>
      <p class="ml-4 pt-3">
        <a routerLink="/add_book">
          <i class="fas fa-folder-plus" ></i>
          <span class="">
            Add <span class=""> Book </span>
          </span>
        </a>
      </p>
    </div>
  </div>

<!--Content-->

<div class="d-flex flex-column justify-content-center">
    <h1 class="welcome_msg_del_lg text-center d-none d-md-block"> Are you sure you want to delete the book? </h1>
    <h1 class="welcome_msg_del_sm text-center d-block d-md-none"> Are you sure you want to delete the book? </h1>
    <div class="d-flex flex-row justify-content-center">
    <table class="ts_table_del">
      <tbody>
        <tr class="ts_row">
          <td class="ts_col">Book Name</td>
          <td class="ts_col">
            {{book.name}}
          </td>
        </tr>
        <tr class="ts_row">
          <td class="ts_col">Author</td>
          <td class="ts_col">
            {{book.author}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <!-- <h1 class="success_msg text-center"> success_msg </h1>
    <h1 class="failure_msg text-center"> failure_msg </h1> -->
    <div class="add_button mt-4">
        <button class="button_style_del mr-5 pl-4 pr-4" routerLink="" > Back </button>
        <button class="button_style_del pr-3 pl-3" (click)="deleteBook()" > Delete </button>
    </div>
  </div>