@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

  .nav_contanier {
    background-color: #363434;
    height: 57px;
  }


.welcome_msg {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0px 0px 40px;
  text-align: center;
}

.welcome_msg_medium {
  color: black;
  font-size: 24px;
  font-family: Georgia;
  margin-top: 20px;
  text-align: center;
}

.ts_table {
  font-family: "Lucida Sans Regular";
  width: 80%;
  margin: 40px;
}



.ts_head  {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: 'Trebuchet MS';
}

th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color: rgb(167, 162, 162);
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
  background-color: #f5d4ca;
}

.ts_head_price {
  width: 100px;
}

.readMoreText {
  color: blue;
  background-color: red;
}

.icon-color-delete {
  color: red;
  padding-bottom: 10px;
}

.icon-color-edit {
  color: rgb(68, 0, 255);
  padding-bottom: 10px;
}

.icon-text-del {
  color: red;
  font-size: 16px;
  font-family: Georgia;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 10px;
}

.icon-text-edit {
  color: blue;
  font-size: 16px;
  font-family: Georgia;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 10px;
}

@media screen and (width< 930px) {
  .display_utility {
    display: none;
  }
}

.msg_style {
  color: red;
  font-family: Georgia;
  font-style: italic;
}

.ts_head_add {
    background-color: #8fbdf1;
    color: black;
    font-family: 'Times New Roman';
    font-size: 18px;
  }


