<!--NavBar-->
<div class="nav_contanier {{display_utility}}">
    <div class="d-flex flex-row justify-content-left">
      <p class="pt-3 ml-5">
        <a routerLink="" >
          <i class="fas fa-book" ></i>
          <span class=""> Books Available </span>
          </a>
      </p>
      <p class="ml-4 pt-3">
        <a routerLink="/add_book">
          <i class="fas fa-folder-plus" ></i>
          <span class="">
            Add <span class=""> Book </span>
          </span>
        </a>
      </p>
    </div>
  </div>

<!--Content-->

<div class="text-center {{display_utility_err}}">
  <h1 class="mt-5 msg_style"> Something went wrong <br/> Unable to Connect the Server </h1>
</div>

<div class="d-flex flex-row justify-content-center">
  <div class="main_sec {{display_utility}}">
    <h1 class="welcome_msg d-none d-md-block">List of Available Books</h1>
    <h1 class="welcome_msg_medium d-block d-md-none">
      List of Available Books
    </h1>
    <div class="d-flex flex-row justify-content-center">
      <table class="ts_table">
        <tbody>
          <tr class="ts_row">
            <th class="ts_head_add">Book Name</th>
            <th class="ts_head_add">Author</th>
            <th class="ts_head_add display_utility">Description</th>
            <th class="ts_head_add">Price</th>
            <th class="ts_head_add">Stock</th>
            <th class="ts_head_add">Actions</th>
          </tr>

          <tr class="ts_row" *ngFor="let book of books">
            <td class="ts_col_add">{{book.name}}</td>
            <td class="ts_col_add">{{book.author}}</td>
            <td class="ts_col_add display_utility">
              {{book.description}}
            </td>
            <td class="ts_head_price">Rs. {{book.price}}/-</td>
            <td class="ts_col_add">{{book.stock}}</td>
            <td class="ts_col_add">
                      <p class="mb-0">
                        <a routerLink="edit_book/{{book._id}}">
                          <i class="fas fa-edit mb-0 icon-color-edit d-inline d-md-none" ></i>
                          <span class="d-none d-md-inline mb-0 icon-text-edit">
                            Edit
                          </span>
                        </a>
                      </p>
                      <p class="mb-0">
                        <a routerLink="/delete_book/{{book._id}}">
                          <i class="fas fa-trash mb-0 icon-color-delete d-inline d-md-none" ></i>
                          <span class="d-none d-md-inline mb-0 icon-text-del">
                           
                            Delete
                          </span>
                        </a>
                      </p>
                    </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
