<!--NavBar-->
<div class="nav_contanier">
    <div class="d-flex flex-row justify-content-left">
      <p class="pt-3 ml-5">
        <a routerLink="" >
          <i class="fas fa-book" ></i>
          <span class=""> Books Available </span>
          </a>
      </p>
      <p class="ml-4 pt-3">
        <a routerLink="/add_book">
          <i class="fas fa-folder-plus" ></i>
          <span class="">
            Add <span class=""> Book </span>
          </span>
        </a>
      </p>
    </div>
  </div>

<!--Content-->

<div class="main_sec text-center">
    <h1 class="welcome_msg text-center d-none d-md-block"> Update Book Details </h1>
    <h1 class="welcome_msg_medium text-center d-block d-md-none"> Update Book Details </h1>
</div>
<div >
  <div class='d-flex flex-row justify-content-center'>
    <table class="ts_table">
      <tbody>
          <tr class="ts_row">
          <th class="ts_head_add">Description</th>
          <th class="ts_head_add">Enter Details</th>
          </tr>
          <tr class="ts_row">
          <td class="ts_col">Book Name</td>
          <td class="ts_col">
              {{book.name}}
          </td>
          </tr>
          <tr class="ts_row">
          <td class="ts_col">Description</td>
          <td class="ts_col">
              <input type="text" (keyup)="getDescription($event)" value={{book.description}}/>
              <p class='mb-0 validation_error'> {{errorMessages.description_err}} </p>
          </td>
          </tr>
          <tr class="ts_row">
          <td class="ts_col">Author</td>
          <td class="ts_col">
              <input type="text" (keyup)="getAuthor($event)" value={{book.author}}/>
              <p class='mb-0 validation_error'> {{errorMessages.author_err}} </p>
          </td>
          </tr>
          <tr class="ts_row">
          <td class="ts_col">Publisher</td>
          <td class="ts_col">
              <input type="text" (keyup)="getPublisher($event)" value={{book.publisher}} [(ngModel)]="book.publisher"/>
              <p class='mb-0 validation_error'> {{errorMessages.publisher_err}} </p>
          </td>
          </tr>
          <tr class="ts_row">
          <td class="ts_col">Price</td>
          <td class="ts_col">
              <input type="text" (keyup)="getPrice($event)" value={{book.price}}/>
              <p class='mb-0 validation_error'> {{errorMessages.price_err}} </p>
          </td>
          </tr>
          <tr class="ts_row">
          <td class="ts_col">Stock</td>
          <td class="ts_col">
              <input type="text" (keyup)="getStock($event)" value={{book.stock}}/>
              <p class='mb-0 validation_error'> {{errorMessages.stock_err}} </p>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
    <h1 class='success_msg text-center'> {{success_msg}} </h1>
    <h1 class='failure_msg text-center'> {{failure_msg}} </h1>
    <div class="add_button mt-4">
    <button class="button_style mr-5 pl-4 pr-4" routerLink="" > Back </button>
    <button class="button_style pr-3 pl-3" (click)="clickFunction()"> Update </button>
    </div>
</div>